<a href="https://colab.research.google.com/github/jeongy72/py25/blob/master/notebook/ch3_exercises_py25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch3_exercises_py25.ipynb

## Q1.
> 다음 코드의 결괏값은 무엇일까?

```
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

```

In [4]:
# [Q1] Code  
a = ['Life','is','too','short','you','need','python']
if "wife" in a:
    print("wife")   # a에 wife가 없기 때문에 출력 x
elif"python" in a and "you" not in a:
    print ("python")   # python도 있고 you도 있기 때문에 출력 x
elif"shirt" not in a:
    print("shirt")   # shirt는 없기 때문에 출력 o
elif"need" in a:
    print("need")   # need가 있기 때문에 출력 x
else:
    print("none")

shirt

## Q2.
> while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [14]:
# [Q2] Code
result = 0
number = 1
while number <= 1000:
    if number  %  3 == 0:   # 3의 배수의 합이 되도록 조건을 달았습니다.
      result += number
    number += 1
print(result)

166833

## Q3.
> while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.


```
*
**
***
****
*****

```

In [17]:
# [Q3] Code
star = 0
while True:
    star += 1
    if star > 5: break   # star이 5가 넘으면 강제로 while문 빠져나갑니다.
    print('*'* star)

*
**
***
****
*****

## Q4.
> for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
- 단순 for문 사용
- 리스트 내포 사용

In [21]:
# [Q4] Code
result = [x+1 for x in range(0,100)]   # x에서 1씩 더하는 것을 사용하여 만들었습니다.
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

## Q5.
> A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

- for문을 사용하여 A 학급의 평균 점수를 구해 보자.
* 책을 참고 하였습니다.

In [22]:
# [Q5] Code
a = [70,60,55,75,95,90,80,85,100]
total = 0
for score in a:
    total += score    # 전체 점수의 합을 먼저 구합니다.
average = total/len(a)   # 리스트 길이 만큼의 수로 합을 나눕니다.
print(average)

78.88888888888889

## Q6.
> 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
```

- 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [32]:
# 위의 보기
numbers = [1,2,3,4,5,6,7,8,9]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
print(result)

[2, 6, 10, 14, 18]

* p144 참고하였습니다.

In [38]:
# [Q6] Code
numbers = [1,2,3,4,5,6,7,8,9]
result = [num *2 for num in numbers if num %2 == 1]   # 숫자에 2를 곱하는데 그 숫자가 2로 나눴을 때 나머지가 1이 남는 숫자로 조건을 달았습니다.
print(result)

[2, 6, 10, 14, 18]

## Q7.
> ## [Challenge] 응용 코드 : 평균 성적을 구하시오.
```
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
```

- 평균 성적을 세가지 이상의 방법으로 구하시오. 
* 수업시간에 배운 내용을 참고 하였습니다.

In [41]:
# [Q7] Code-1
### zip이용
subjects = ['파이썬', '영어', '수학', '물리']
scores = [88, 77, 66, 95]

total = 0
average = 0
for subject, score in zip(subjects, scores):
    total += score
    print(subject, score)

print("평균 점수 = {0}".format(total/len(subjects)))

파이썬 88
영어 77
수학 66
물리 95
평균 점수 = 81.5

In [47]:
# [Q7] Code-2
### for문과 literator의 이용
subjects = ['파이썬', '영어', '수학', '물리']
scores = [88, 77, 66, 95]

total = 0
average = 0
for position in range(len(subjects)):
    subject = subjects[position]
    score = scores[position]
    total += score
    print(subject, score)
print("평균점수 = {0}".format(total/len(subjects)))

파이썬 88
영어 77
수학 66
물리 95
평균점수 = 81.5

In [48]:
# [Q7] Code-3
### enumerate이용
subjects = ['파이썬', '영어', '수학', '물리']
scores = [88, 77, 66, 95]

total = 0
average = 0
for position, subject in enumerate(subjects):
    score = scores[position]
    total += score
    print(subject, score)
print("평균점수 = {0}".format(total/len(subjects)))

파이썬 88
영어 77
수학 66
물리 95
평균점수 = 81.5

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch3_exercises_id.ipynb