<a href="https://colab.research.google.com/github/jeongy72/py25/blob/master/notebok/ch8_exercises_py25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch8_exercises_py25.ipynb

Q1. 문자열 바꾸기
> 다음과 같은 문자열이 있다.

```
a:b:c:d
```

> 문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

```
a#b#c#d
```

In [ ]:
# [Q1] Code-1   
a = "a:b:c:d"
b = a.split(":")
b
c = "#".join(b)
c

'a#b#c#d'

- 위의 코드는 문제와 같이 split와 join을 사용하여 해결하였다.
  split는 괄호안에 특정 값이 있으면 값을 구분자로 해서 문자열을 나누어 준다.     나뉜 문자열에 join을 이용하여 (#)이라는 문자열을 삽입하였다.

In [ ]:
# [Q1] Code-2
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

- 위의 코드는 문제와는 다르게 replace를 이용하여 해결하였다. 
  (:) 이라는 문자열을 (#) 으로 바꾸었다.

## Q2. 딕셔너리 값 추출하기
> 다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.
```
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```
>> a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다.  
>>'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

In [ ]:
# [Q2] Code-1
a = {'A':90, 'B':80}
a.get('C',70)

70

- C에 해당되는 key가 없기 때문에 다폴트 값으로 전달된 70을 돌려주었다.

In [ ]:
# [Q2] Code-2
a = {'A':90, 'B':80, 'C':70}
a['C']

70

- key가 'C'인 딕셔너리의 Value를 반환하였다.

## Q3. 리스트의 더하기와 extend 함수
> 다음과 같은 리스트 a가 있다.
```
a = [1, 2, 3]
```
> 리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```
> 리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

> ### + 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

- 리스트 a에 + 기호를 사용하는 경우

In [ ]:
# [Q3] Explain (코드와 주석으로 설명하시오)
a = [1,2,3]        
id(a)           #id함수는 입력으로 받은 리스트의 a의 주소값을 돌려준다.
                # a라는 리스트는 밑의 결과의 주소에 저장되어있다.

140530191363336

In [ ]:
# [Q3] Explain (코드와 주석으로 설명하시오)
a = a + [4,5]      # 리스트 a에 +기호를 사용하여 [4,5]리스트를 더하였다.
print(a)
id(a)              # id함수를 사용하여 주소값을 확인하였다.

[1, 2, 3, 4, 5]

140530191988680

- [4,5]를 더한 리스트와 더하지 않은 리스트의 주소값을 비교해보면 다른것을 확인할수있다. +를 사용하면 리스트 값이 변하는 것이 아니라 더해진 새로운 리스트가 출력된다는 것을 알수있다.

- extend함수 사용

In [ ]:
# [Q3] Explain (코드와 주석으로 설명하시오)
a = [1,2,3]
id(a)

140530200732424

In [ ]:
# [Q3] Explain (코드와 주석으로 설명하시오)
a.extend([4,5])     # extend 함수를 사용하여 [4,5]를 더해주었다.
print(a)
id(a)               # id함수를 사용하여 주소값을 확인하였다.

[1, 2, 3, 4, 5]

140530200732424

- [4,5]를 더한 리스트와 더하지않은 리스트의 주소값을 비교해보면 다르지 않고 두 주소값이 같다.

## Q4. 리스트 총합 구하기
> 다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

In [ ]:
# [Q4] Code-1
A = [20,55,67,82,45,33,90,87,100,25]

result = 0
while A :              # A 리스트에 값이 있는 동안
    mark = A.pop()     # A 리스트의 가장 마지막 항목을 하나씩 뽑아냄
    if mark >= 50:     # 50점 이상의 점수만 더함
       result += mark

print(result)

481

In [ ]:
# [Q4] Code-2
A = [20,55,67,82,45,33,90,87,100,25]

result = [ +num  for num in A if num >= 50]     # for문을 이용하여 50이 넘는 숫자로 리스트를 만듬
result
total = 0
for i in result:       
    total += i        # result안의 숫자를 모두 더함
print(total)          # 그 값을 출력함

481

## Q5. 피보나치 함수
> 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.
```
0, 1, 1, 2, 3, 5, 8, 13, 21, ...
```
> 입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [ ]:
# [Q5] Code-1
def fib(n):
    if n == 0 : return 0             # n이 0일때에는 0을 반환
    if n == 1 : return 1             # n이 1일때에는 1을 반환
    return fib(n-2) + fib(n-1)       # n이 2이상일때는 그 이전의 두 값을 더하여 반환

for i in range(10):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34

In [ ]:
# [Q5] Code-2
def fibo(n):
    if n < 2:                   # if문으로 n이 2보다 작을때 n이 반환되도록 조건을 함
       return n

    a,b = 0,1                  # a,b는 1로 정의함
    for i in range(n-1):       # for문으로 활용하여 반복문
        a,b = b, a+b           # a,b는 b , a+b 시행

    return b                   # b로 반환되도록 함

for n in range(0,10):         # 1부터10까지라고 범위를 정의함
    print( fibo(n))           # 결과를 출력함

0
1
1
2
3
5
8
13
21
34

## Q6. 숫자의 총합 구하기
> 사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

```
65,45,2,3,45,8
```

In [1]:
# [Q6] Code-1
user_input = input("숫자를 입력하세요: ")
numbers = user_input.split(",")
total = 0
for n in numbers:
    total += int(n)      #입력은 문자열이므로 숫자로 변환해야함
print(total)

숫자를 입력하세요: 65,45,2,3,45,8
168

In [8]:
user_input = input("숫자를 입력하세요: ")
numbers = user_input.split(",")
def add_many(*args):     #add_many로 여러개의 입력값을 받는 함수를 만듬
    result = 0
    for i in args:
        result = result + i    # *args에 입력받은 모든값을 더함
    return result
result = add_many(65,45,2,3,45,8)    #add_many함수의 결과값을 result변수에 대입
print(result)

숫자를 입력하세요: 65,3,2,45,45,8
168

## Q7. 한 줄 구구단
> 사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

> 실행 예)
```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

In [4]:
# [Q7] Code-1
user_input = input("구구단을 출력할 숫자를 입력하세요(2~9):")
dan = int(user_input)            # 입력 문자열을 숫자로 변환
for i in range(1,10):            
    print(i*dan, end= ' ')       # 한 줄로 출력하기 위해 줄 바꿈 문자 대신 공백 문자를 마지막에 출력함

구구단을 출력할 숫자를 입력하세요(2~9):2
2 4 6 8 10 12 14 16 18

In [17]:
# [Q7] Code-2
dan = int(input("구구단을 출력할 숫자를 입력하세요(2~9): "))
if dan <= 10 and dan >= 1:      #조건문으로 입력받는 수의 범위를 정함
    for i in range(1, 10):     
        print("{} * {} = {}".format(dan, i, dan*i))      #범위내에 수가 입력되면 출력됨
else:
    print("1~9 범위의 정수를 입력해주세요")              # 그렇지않으면 경고창을 띄움

구구단을 출력할 숫자를 입력하세요(2~9): 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

## Q8. 역순 저장
> 다음과 같은 내용의 파일 abc.txt가 있다.
```
AAA
BBB
CCC
DDD
EEE
```
> 이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.
```
EEE
DDD
CCC
BBB
AAA
```

In [18]:
# [Q8] Code-1
f = open('abc.txt','r')
lines = f.readlines()
f.close()

lines.reverse()

f = open('abc.txt','w')
for line in lines:
    line = line.strip()
    f.write(line)
    f.write('\n')
f.close()

In [20]:
# [Q8] Code-2
f=open('abc.txt','rb')    # 파일을 읽음
data = f.read()
rev_data = data[::-1]      #파일을 역순으로 나열
e=open('abc.txt','wb')     #파일을 작성함
e.write(rev_data)          #역순으로 작성한 파일 저장함
e.close()                  #파일 닫음

## Q9. 평균값 구하기
> 다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.
```
70
60
55
75
95
90
80
80
85
100
```

In [24]:
# [Q9] Code-1
f = open("sample.txt")
lines =  f.readlines( )        #sample.txt를 줄단위로 모두 읽음
f.close( )

total = 0
for line in lines:
    score = int(line)         #줄에 적힌 점수를 숫자형으로 변환
    total += score
average = total/len(lines)    #평균을 구함
f = open("result.txt", "w")   # 파일을 열어서
f.write(str(average))         #평균을 성함
f.close()                     #파일을 닫음

In [ ]:
# [Q9] Code-2

## Q10. 사칙연산 계산기
> 다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

In [25]:
# [Q10] Code-1
class Calculator:
    def __init__(self, numberList):
        self.numberList = numberList

    def add(self):
        result = 0
        for num in self.numberList:
            result += num
        return result

    def avg(self):
        total = self.add()
        return total/len(self.numberList)

cal1 = Calculator([1,2,3,4,5])
print(cal1.add())
print(cal1.avg())

cal2 = Calculator([6,7,8,9,10])
print(cal2.add())
print(cal2.avg())

15
3.0
40
8.0

In [ ]:
# [Q10] Code-2



---

## Q11. 모듈 사용 방법
> ./doit 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 import mymod를 수행할 때 오류가 없어야 한다.)
```
>>> import mymod
>>>
```

In [32]:
!mkdir doit
# 실행 후 새로 고침!
# mymod.py 를 업로드한다.

mkdir: cannot create directory ‘doit’: File exists

In [33]:
!mv mymod.py ./doit
# 실행 후 새로 고침!

In [37]:
# [Q11] Code-1
import sys
sys.path.append("c:/doit")
import mymod

ModuleNotFoundError: ignored

In [31]:
# [Q11] Code-2

## Q12. 오류와 예외 처리
> 다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

In [ ]:
# [Q12] Explain (코드와 주석으로 설명하시오)
result = 0      #result의 초기값을 0이다
 
try:                 #try문안의 [1,2,3][3]이라는 문장 수행시 indexerror가 발생하여 expect index
    [1, 2, 3][3]      # expect indexerror: 구문으로 이동하게 되어 result에3이더해져 3이된다.
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:                #최종적으로 finally구문이실행되어 result에4가 더해져 7이 된다.
    result += 4
 
print(result)          #print(result)가 수행되어 result의 최종값인 7이 출력된다.

## Q13. DashInsert 함수
> DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.
```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

In [41]:
# [Q13] Code-1
data = "4546793"

numbers = list(map(int, data))      #숫자문자열을 숫자 리스트로 변경
result = []

for i, num in enumerate(numbers):
    result.append(str(num))
    if i < len(numbers)-1:         #다음수가 있다면 
       is_odd = num % 2 == 1       #현재수가 홀수
       is_next_odd = numbers[i+1] % 2 == 1     #다음수가 홀수
       if is_odd and is_next_odd:         #연속 홀수
          result.append("-")
       elif not is_odd and not is_next_odd:      #연속 짝수
            result.append("*")

print("".join(result))

454*67-9-3

In [ ]:
# [Q13] Code-2

## Q14. 문자열 압축하기
> 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.
```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

In [44]:
# [Q14] Code-1
def compress_string(s):
    _c = ""
    cnt = 0
    result = ""
    for c in s:
        if c!=_c:
           _c = c
           if cnt: result += str(cnt)
           result += c
           cnt = 1
        else:
           cnt += 1
    if cnt: result += str(cnt)
    return result
print (compress_string("aaabbcccccca"))     #a3b2c6a1출력

a3b2c6a1

In [ ]:
# [Q14] Code-2

## Q15. Duplicate Numbers
> 0 ~ 9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.
```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: true false false true false
```

In [45]:
# [Q15] Code-1
def chkDupNum(s):
    result = []
    for num in s:
        if num not in result:
            result.append(num)
        else:
            return False
    return len(result) == 10

print(chkDupNum("0123456789"))      # True 리턴
print(chkDupNum("01234"))           # False 리턴
print(chkDupNum("01234567890"))     # False 리턴
print(chkDupNum("6789012345"))      # True 리턴
print(chkDupNum("012322456789"))    # False 리턴

True
False
False
True
False

In [ ]:
# [Q15] Code-2

## Q16. 모스 부호 해독
> 문자열 형식으로 입력받은 모스 부호(dot:. dash:-)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

- 글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
- 예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.
```
.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
```
> 모스부호 규칙 표
```
문자 부호	문자   부호
A	 .-	    N	    -.
B	 -...	O	    ---
C	 -.-.	P	    .--.
D	 -..	Q	    --.-
E	 .	    R	    .-.
F	 ..-.	S	    ...
G	 --.	T	    -
H	 ....	U	    ..-
I	 ..	    V	    ...-
J	 .---	W	    .--
K	 -.-	X	    -..-
L	 .-..	Y	    -.--
M	 --	    Z	    --..
```

In [46]:
# [Q16] Code-1
dic = {
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z'
}

def morse(src):
    result = []
    for word in src.split("  "):
        for char in word.split(" "):
            result.append(dic[char])
        result.append(" ")
    return "".join(result)


print(morse('.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'))

HE SLEEPS EARLY

In [ ]:
# [Q16] Code-2



---

# 다음 정규식 문제는 기말고사 후에 도전해 보세요.

## Regular Expression
- import re

## Q17. 기초 메타 문자
> 다음 중 정규식 a[.]{3,}b과 매치되는 문자열은 무엇일까?


```
acccb
a....b
aaab
a.cccb
```

In [ ]:
# [Q17] Code

## Q18. 문자열 검색
> 다음 코드의 결괏값은 무엇일까?

```
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

In [ ]:
# [Q18] Code

## Q19. 그루핑
> 다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
```

In [ ]:
# [Q19] Code

## Q20. 전방 탐색
> 다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

```
.*[@].*[.].*$
```

In [ ]:
# [Q20] Code

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch8_exercises_id.ipynb